body{
background-color: blue;

}
header, footer{

  height: 44px;
 background-color: blue;
}

/*main{
height: 100px;
}*/

div {
  height: 25px;
  width: 25px;
  background-color: pink;
  display: inline;
  margin:10px;
  }
section{
background-color: #a7d7c5;
margin: 20px ;
text-align: center;
padding: 20px;
}
.leftspace{
  margin-left: 33px;
}
coloring{
  background-color: #5c8d89;
}
