/*body{
  margin: 0%;
  background-image: url('https://i.pinimg.com/564x/8a/77/87/8a778709ed682501ebc75cf3e4fe00d2.jpg');
    background-size: cover;
}
header{
  margin: 0px;
   border: 5px solid pink;
    height: 160px;
}


footer{
  height: 50px;
  font: 18px "Fira Sans", sans-serif;
  background-color: #ffed99;
  color:  hsl(200, 95%, 55%);
  text-align: center;
  padding-top: 7px;
  border: 2px solid #231e23;
  
}

header nav{
  float: right;
  width: 30%;
}


header img {
  margin-left: 55px;
  display: inline-block;

}

header div {
    display: inline;
}
header h1 {
  margin-top: 1px;
  text-align: center;
}
header nav ul li {
  display: inline-block;
}

#move {
padding-left: 0%;
}

 .m2 {
width:530px;
height: 592px;
       display: inline-block;
margin-left:500px;
margin-top:44px;

}

.m3{

 text-align: center;
}

li .m0{ 
  margin-top: 144px;
}*/


 